main.activities {
  background-image: url("/assets/img/bg/sunset1.jpg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  padding: 120px 80px;

  .activities-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
  }

  h2 {
    color: #fff;
    margin-bottom: 24px;
  }

}


@include for-phone-only {
  main.activities {
    padding: 20px;
  }
}
