@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "colors";
@import "header";
@import "links";
@import "home";
@import "activities";
@import "activity-item";

html, body {
  margin: 0;
  padding: 0;
  font-family: Raleway, Helvetica, sans-serif;
  color: #171717;
  background-color: $cstm-light-blue;
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
}

