@import url('https://fonts.googleapis.com/css?family=Raleway');
//@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Pinyon+Script');
@import "colors";


html, body {
  margin: 0;
  padding: 0;
  font-family: Raleway, Helvetica, sans-serif;
  color: #171717;
  background-color: $cstm-light-blue;
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
}

h2 {
  font-family: "Pinyon Script", Helvetica, sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 24px;
}
@import "header-nav";
@import "links";
@import "home";
@import "activities";
@import "activity-item";
@import "impressions";
