// colors https://flatuicolors.com/palette/de
$cstm-algal-fuel: #20bf6b;
$cstm-fusion-red: #fc5c65;
$cstm-newyork-taxi: #f7b731;
// palette by https://www.heathermschiefer.com/grass-green-sky-blue-spring-palettes/

$cstm-darkgrey: #514D43;
$cstm-light-green: #B2C951;
$cstm-full-green: #304D1D;
$cstm-steel-blue: #516D62;
$cstm-sky-blue: #7C98A4;
$cstm-light-blue: #D4EBF2;
