@import "breakpoints";

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;

  @include for-phone-only {
    flex-direction: column;
    align-items: center;
  }

  @include for-tablet-portrait-up {
    justify-content: space-around;
  }

  @include for-tablet-landscape-up {
    justify-content: flex-end;
  }

  a {
    display: block;
    color: #fff;
    padding: 20px;

    @include for-phone-only {
      padding: 10px;
    }
  }
}
