<main class="activities">
  <h2>Aktivitäten</h2>

  <div class="activities-gallery">
    {{activity-item path="assets/img/activities/trampolin1.jpg" caption="Trampolin"}}
    {{activity-item path="assets/img/activities/lagerfeuer1.jpg" caption="Lagerfeuer"}}
    {{activity-item path="assets/img/activities/beach1.jpg" caption="Beach Volleball"}}
    {{activity-item path="assets/img/activities/basketball1.jpg" caption="Basketball"}}
  </div>
  <ul>
    <li>Beach-Volleyball</li>
    <li>Basketball</li>
    <li>Tischtennis</li>
    <li>Trampolin</li>
    <li>Sauna</li>
    <li>Lagerfeuer</li>
    <li>Fahrradausflüge in die Umgebung</li>
    <li>Baden in den umliegenden Seen</li>
    <li>Die Seele baumeln lassen</li>
  </ul>


</main>

