<header>
  <nav>
    {{#link-to "home" class="button"}}
      Start
    {{/link-to}}
    {{#link-to "activities" class="button"}}
      Aktivitäten
    {{/link-to}}
    {{#link-to "impressions" class="button"}}
      Impressionen
    {{/link-to}}
    {{#link-to "contact" class="button"}}
      Kontakt/Anfahrt
    {{/link-to}}
  </nav>
</header>

{{outlet}}

