<main class="home">
  <h1>Willkommen in Strehlow</h1>
  <!--<p class="slogan">Seid aktiv und fühlt Euch wohl</p>-->
  <p class="slogan">
     Sport, Kultur, Wellness, Natur.
  </p>
</main>


{{outlet}}